/* * {
    box-sizing: border-box;
}

body{
    margin: 0;
}



/* div{
    height: 100%;
} */

/* .cards{
    height: 100%;
    overflow-y: scroll;
} */ 
/* 
.main {
    display: flex;
    min-height: calc(100vh - 40vh);  
    flex-direction: row; 
}

.middle {
    flex: 1;
    background-color: grey;
}

.right {
    flex: 0 0 40vw;
    background-color: blue;
}



.left {
    flex: 0 0 20vh;
    order: -1;
} */

/* .container {
    background-color: grey;
    height: 30vh;
} */




/* .footer{
    background-color: grey;
    height: 20vh;
} */

/* .container {
    height: 100vh;
} */
/* .nav, .left, .middle, .right, .footer {
    padding: 1em;
}

.nav, .bottom {    
    background-color: blue;
    height: 20vh
}  */

* {
    box-sizing: border-box;
}

body {
    height: 100%;
    margin: 0;
}

#main {
    display: flex;
    flex: 1;
    height: 100vh;
}


#main > article {
    flex: 0 1 40vw;
    overflow-y: scroll;
}

#main > nav {
    flex: 0 1 20vw; 
}

#main > aside {
    flex: 1;
}

#main > nav {
    order: -1;
}

header, footer, article, nav, aside {
    padding: 1em;
}

header, footer {
    background: yellowgreen;
    height: 10vh;
}



.DevBackgroundImage{
    /* display: flex; */
    background-size: 100vh;
    
    margin: 0
}

@media screen and (max-width: 878px) {
    
    
    #main{
        display: block;
    }
}

@media screen and (max-width: 878px) {    
    #main > nav {
        height: 20vh;
    }   
}

@media screen and (max-width: 878) {
    #main > footer {
        display: none;
    }
}